.landing{
  h1{
    font-size: 2vw;
    margin-top: 30px;
  }
  label{
    display: inline-block;
    margin-top: 30px;
    font-size: 1.3vw;
    margin-right: 1%;
  }
  input{
    clear: both;
    margin-right: 1%;
  }
  button{
    float: left;
    padding: 1% 3%;
    background: white;
    margin-right: 4%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.3vw;
  }
  h2{
    font-size: 32px;
    clear: both;
  }
}
