.table-view {
  .active{
    padding: 1% 2%;
    border-radius: 15px;
    background: #0cd30d;
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  h2{
    margin: 30px 0;
    font-size: 2vw;
  }
  .add-customer{
    .header{
      font-size: 1.3vw;
    }
    input{
      padding: 1%;
      margin-right: 2%;
    }
  }

  .create-menuItem{
    .header{
      font-size: 1.3vw;
    }
    input{
      padding: 1%;
      margin-right: 2%;
    }
    input[type="number"]{
      width: 3%;
    }
  }
  .customer-select {

    .customer-square{
      &:hover{
        cursor: pointer;
      }
      overflow: auto;
      color: white;
      display: block;
      float: left;
      width: 200px;
      height: 200px;
      margin: 30px;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
      p{
        font-size: 1.3vw;
      }
      button{
        margin-left: 15px;
        margin-bottom: 3%;
        padding: 2% 11%;
      }
      .purchased-items{
        margin-left: 15px;
        font-size: 1.3vw;
      }
    }
  }
}
